* {	font-family: Roboto; }
a { font-family: Roboto; }
.col-lg-4 { color: #FFf; }
/*.high { height: calc(100vh - 42px); }*/  

.game {
	background: #222;
	border: 2px solid #FFF;
	width: 100%;
    /*padding-top: 100%;*/
}

.game-header {
	height: 42px;
}

.console {
	width: 100%;
	height: 80px;
	background: #666;
}

.control-panel {
	height: 210px;
	background: #B94587;
}


.ad {
	height: 100px;
	background: #FFF;
}

#gameCanvas, canvas { margin: 0; padding: 0; display: block;}

canvas { display:block; }

.btn {
	background:white; 
	color:black; 
	cursor:pointer
}

.tab-html { height: calc(100vh - 110px - 42px); }